{
  "Parameters": {
    "ENV": "dev",
    "DATABASE_CONTAINER_NAME": "user-microservice-db",
    "DATABASE_NAME": "{DB_NAME}",
    "DATABASE_USER": "{DB_USER}",
    "DATABASE_PASSWORD": "{DB_PASSWORD)",
    "DATABASE_HOST": "host.docker.internal",
    "DATABASE_PORT": "5432",
    "DATABASE_RETRY_DURATION_SECONDS": "3"
  }
}